<div class="post-component">
    <div id="chat-responses">
        <div class="chat-response" *ngFor="let post of posts">
            <p>{{post.body}}</p>
            <p class="timestamp">{{post.timestamp}}</p>
        </div>
        <div *ngIf="!isPosts" class="no-posts"><h2>Type your first post below!</h2></div>
    </div>

    
    <form class="input-form" [formGroup]="inputForm" (ngSubmit)="createPost()">
    
        <input placeholder="body" type="text" formControlName="body" />
    
        <button class="button" type="submit">Post</button>
    </form>
</div>